@charset "UTF-8";

/**
* インポート
**/
@import url("./reset.css");


/**
* リセット
**/
input[type=submit] {
	-webkit-appearance: none;
}


/**
* 共通
**/
header {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 35px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: bold;
}

li {
  padding-top: 15px;
  margin: 25px 15px;
}

header a, header a:link,  header a:visited {
  color: #000;
  text-decoration: none;
}

header a:hover {
  color: #999;
}

.mainVisual img {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 50px 30px;
  text-align: center;
}

.mainItems {
  margin: 0 100px;
  display: flex;
}

.mainItems img {
  width: 650px;
  height: auto;
}

.mainItems p  {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  margin-left: 45px;
}

.courseItemGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 100px;
}

.courseItemGroup img {
  width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.courseItemGroup p {
  margin-top: 0;
  font-size: 24px;
  word-break: break-word;
}

h5 {
  font-size: 15px;
  font-weight: bold;
  margin: 20px;
  text-align: center;
}

.message  {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}

.email {
  width: 500px;
  height: 35px;
  border: solid 1px #ccc;
  border-radius: 20px;
  border-width: 1px;
  padding: 2px 8px;
  margin: 0;
}

.mailForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitBtn {
  font-size: 20px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  background-color: #f37053;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px ;
  margin-top: 10px;
  margin-bottom: 80px;
}

.footer  {
  width: 960px;
  margin: 0 auto;
  text-align: right;
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
}


/**
* レスポンシブ設定
**/
@media screen and (max-width:479px) { 
  header {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  h1 {
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
  }

  ul {
    font-size: 12px;
    padding: 0 30px;
  }

  li {
    padding: 0;
    margin: 12px 16px;
  }

  main {
    padding: 0 16px;
  }

  .mainVisual img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
    margin: 30px 0;
  }

  .mainItems {
    flex-direction: column;
    margin: 20px 0;
  }

  .mainItems img {
    width:100%;
    height: auto;
    padding: 0;
  }

  .mainItems p {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin: 30px 5px;
  }

  .courseItemGroup {
    flex-direction: column;
    margin: 20px 0;
  }

  .courseItemGroup .courseItem {
    margin: 15px 0;
  }

  .courseItemGroup .courseItem {
    width: 100%;
  }

  .courseItemGroup .courseItem img {
    width: 100%;
    margin-bottom: 5px;
  }
  .courseItemGroup .courseItem p {
    font-size: 15px;
  }

  .message {
    font-size: 15px;
    padding: 20px 0;
  }

  .email {
    width: 320px;
    height: auto;
    padding: 16px 8px;
    border-radius: 32px;
    margin-bottom: 16px;
  }

  .submitBtn {
    width: 330px;
    height: auto;
    font-size: 15px;
    padding: 16px 8px;
  }

  .footer {
    width: 100%;
    font-size: 10px;
    text-align: center;
    padding: 10px 0;
  }

}