@charset "UTF-8";

/**
* インポート
**/
@import url("./reset.css");


/**
* リセット
**/
input[type="submit"] {
	-webkit-appearance: none;
	appearance: none;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}



/**
* ユーティリティ
**/

.smallFont {
  font-size: 16px;
}

.middleFont {
  font-size: 20px;
}

.largeFont {
  font-size: 32px;
}

@media screen and (max-width:479px) { 
  .smallFont {
    font-size: 12px;
  }
  
  .middleFont {
    font-size: 16px;
  }
  
  .largeFont {
    font-size: 20px;
  }
}


/**
* 共通
**/
body {
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

h1 {
  /* font-size: 30px; */
  font-weight: bold;
  margin: 36px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  /* font-size: 20px; */
  font-weight: bold;
}

li {
  padding-top: 16px;
  margin: 24px 16px;
}

header a, header a:link,  header a:visited {
  color: #000;
  text-decoration: none;
}

header a:hover {
  color: #999;
}

main {
  width: 1280px;
  margin: 0 auto;
}

.mainVisual img {
  width: 100%;
  height: auto;
}

h2 {
  /* font-size: 30px; */
  font-weight: bold;
  margin: 48px 0;
  text-align: center;
}

.mainItems {
  /* margin: 0 100px; */
  display: flex;
  justify-content: center;
}

.mainItems img {
  width: 660px;
  height: auto;
}

.mainItems p  {
  /* font-size: 20px; */
  font-weight: bold;
  line-height: 32px;
  margin-left: 44px;
}

.courseItemGroup {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: center;
  /* margin: 0 100px; */
  /* margin: 0 auto; */
  align-items: center;
}

.courseItemGroup li:nth-child(3n+1) {
  margin-left: 0;
}

.courseItemGroup li:nth-child(3n+3) {
  margin-right: 0;
}

.courseItem {
  width: 400px;
}

.courseItemGroup img {
  width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.courseItemGroup p {
  margin-top: 0;
  /* font-size: 24px; */
  word-break: break-word;
}

.message  {
  /* font-size: 20px; */
  text-align: center;
  margin: 10px 0;
}

.email {
  width: 500px;
  height: 36px;
  border: solid 1px #ccc;
  border-radius: 20px;
  border-width: 1px;
  padding: 2px 8px;
  margin: 0;
}

.mailForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitBtn {
  /* font-size: 20px; */
  font-weight: bolder;
  color: rgb(255, 255, 255);
  background-color: #f37053;
  width: 248px;
  height: 48px;
  border-radius: 6px;
  border: solid 1px ;
  /* margin-top: 10px; */
  margin: 16px auto; 
}

.footer  {
  width: 1280px;
  margin: 0 auto;
  text-align: right;
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
}


/**
* レスポンシブ設定
**/
@media screen and (max-width:479px) { 
  header {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  h1 {
    /* font-size: 20px; */
    margin: 20px 0;
    text-align: center;
  }

  ul {
    font-size: 12px;
    padding: 0 28px;
  }

  li {
    padding: 0;
    margin: 12px 16px;
  }

  main {
    width: 100%;
    padding: 0 16px;
  }

  .mainVisual img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
    margin: 32px 0;
  }

  .mainItems {
    flex-direction: column;
    margin: 20px 0;
  }

  .mainItems img {
    width:100%;
    height: auto;
    padding: 0;
  }

  .mainItems p {
    font-weight: normal;
    /* font-size: 15px; */
    line-height: 20px;
    margin: 32px 6px;
  }

  .courseItemGroup ul {
    display: block;
    /* flex-direction: column; */
    margin: 0 auto;
  }

  .courseItemGroup .courseItem {
    margin: 16px 0;
    width: 100%;
  }

  .courseItemGroup .courseItem img {
    width: 100%;
    margin-bottom: 6px;
  }
  .courseItemGroup .courseItem p {
    /* font-size: 15px; */
  }

  .message {
    /* font-size: 15px; */
    padding: 20px 0;
  }

  .email {
    width: 320px;
    height: auto;
    padding: 16px 8px;
    border-radius: 32px;
    margin-bottom: 16px;
  }

  .submitBtn {
    width: 320px;
    height: auto;
    /* font-size: 15px; */
    padding: 16px 8px;
  }

  .footer {
    width: 100%;
    /* font-size: 10px; */
    text-align: center;
    padding: 12px 0;
  }

}